* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box
}

html{
  height: 100%;
}
body{
  background-color: #FFFFFF;
}
.nav{
  display: grid;
  grid-template-columns: 1fr 3fr;
  justify-content: center;
}
.header {
   background-image: url('assets/fon_wawe.png');
   background-repeat: no-repeat;
   background-size:contain;
   display: grid;
   justify-content: center;

}
.current{
margin: 10px;
padding:  15px;
text-decoration: none;
font-family: 'raleway';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;
color: #0D302C;
 margin-top: 0px;
}

.current:hover {
  background:rgba(255,255,255, 0.5);}
.wawe {
  /*position: absolute;*/
width: 654px;
height: 235px;
left: 654px;
top: 341px;

font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 200px;
line-height: 235px;
display: flex;
/*align-items: flex-end;*/
letter-spacing: 0.6px;
text-align: center;

color: #0D302C;
}
.school{
font-family: 'Roboto Condensed';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;
letter-spacing: 0.6px;
text-align: center;
color: #000000;
}
.board{
  justify-content: center;
}

.container{
  /*display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  align-items: start;
  justify-items: stretch;*/
  margin: 10px;
}
.cell{
  padding: 10px;
  color: #0D302C;
  background-color: rgba(0, 178, 160, 0.1);;
}*/
h1{
  color: #0D302C;
  text-align: center;
}
/*.pictcontainer {
    display: grid;
    grid-gap: 5px;
    /*grid-template-columns: repeat(auto-fit, minmax(250x, 1fr));
    grid-template-rows: repeat(2, 280px);*/
   /* grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 280px 280px;
    margin: 10px;
}*/
.gal-1{
  grid-area: 1/1/2/3;
}
.gal-6{
  grid-area: 2/3/3/5;
}
.gallery {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media screen and (min-width: 600px) {
.footer{
  background-color: #00B2A0;
}
.pictcontainer {
    display: grid;
    grid-gap: 5px;
    /*grid-template-columns: repeat(auto-fit, minmax(250x, 1fr));
    grid-template-rows: repeat(2, 280px);*/
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 280px 280px;
    margin: 10px;
}
.container{
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  align-items: start;
  justify-items: stretch;
  margin: 10px;

}
.cell{
  padding: 10px;
  color: #0D302C;
  background-color: rgba(0, 178, 160, 0.1);
  margin: 10px;
}
h1{
  color: #0D302C;
  text-align: center;
}
}
